<h1>Quora Clone</h1>
<h4>Another place to share knowledge and better understand the world</h4>

<h3>Sign up succesful! Login now.</h3>
<h2>Login Now</h2>
<form method="post" action="/login">
    <p>Email:</p><input type="text" name="user[email]"><br>
    <p>Password:</p><input type="password" name="user[password]"></br>
    <input type="submit" value="Login">
</form>
