<h1>Quora Clone</h1>


<form method="post" action="/users/<%= @user.id %>/edit_password">
	<p>Enter your old password:</p><input type="password" name="old_password"><br>
	<p>Enter you new password:</p><input type="password" name="new_password"><br>
	<p>Confirm new password:</p><input type="password" name="user[password]"></br>
    <input type="submit" value="Submit">
</form>
<br></br>
<form method="get" action ="/users/:id/account_settings">
<input type="submit" value="Back to Account Settings">
</form>
<form method="get" action ="/home">
<input type="submit" value="Back to Home">
</form>
